  .wrapper {
    padding-top: calc(var(--mantine-spacing-xl) * 4);
    padding-bottom: calc(var(--mantine-spacing-xl) * 4);
  }
  
  .comment {
    padding: var(--mantine-spacing-lg) var(--mantine-spacing-xl);
  }
  
  .body {
    padding-left: 54px;
    padding-top: var(--mantine-spacing-sm);
    font-size: var(--mantine-font-size-sm);
  }
  .title {
    text-align: center;
  }
  
  .bg {
    background-color: rgba(107, 84, 72, 0.1);
  }
  
  .content {
    & > p:last-child {
      margin-bottom: 0;
    }
  }