.wrapper {
    padding-top: calc(var(--mantine-spacing-xl) * 2);
    padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  }
  
  .title {
    text-align: center;
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-weight: 900;
    margin-bottom: var(--mantine-spacing-md);
  
    @media (max-width: $mantine-breakpoint-sm) {
      font-size: 28px;
      text-align: left;
    }
  }
  
  .bg {
    background-color: rgba(107, 84, 72, 0.1);
    margin-top: calc(var(--mantine-spacing-xl) * 2);
  }

  .description {
    text-align: center;
  
    @media (max-width: $mantine-breakpoint-sm) {
      text-align: left;
    }
  }